tensorflow==2.15.1
pyautogui==0.9.54
numpy==1.26.4
matplotlib==3.9.0
pillow==10.3.0
portablemc==4.3.0
pynput==1.7.7
screeninfo==0.8.1
pyscreenshot==3.1
psutil==5.9.8
opencv-python==4.9.0.80
BeautifulSoup4==4.12.3